.main-header {
    position: fixed;
    height: 55vh;
    width: 150%;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -14vh;
    margin-top: -60px;
  }

  ion-card {
    width: 90%;
    position: absolute;
    top: 5%
  }

ion-alert {
    --background : #e9e6de;
}

ion-item {
    --background : #e9e6de;
}